<h1>{{title}}</h1>

    <div class="panel panel-primary">
        <div class="panel-heading">Solicitud de Prestamos</div>
        <div class="panel-body">

        <article class="">
          Esta funcionalidad permitirá al usuario realizar la solicitud de un prestamo en el cual
          va a poder deteminar el monto, el plazo y el periodo de pago del asociado.
        </article>
      </div>
  </div>

  <div class="panel panel-success">
        <div class="panel-heading">Estado de Cuenta</div>
        <div class="panel-body">

        <article class="">
          Esta funcionalidad permitirá al usuario ver las transacciones que ha realizado a un determinado prestamocomo ser:
          <ul>
            <li>Monto Prestamo</li>
            <li>Periodo de Pago</li>
            <li>Plazo</li>
            <li>Recargos</li>
            <li>Abonos</li>
          </ul>
        </article>
    </div>
  </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
         Noticias
        </div>
          <div class="panel-body">
            <article class="">
              Es una funcionalidad que permitira al usuario mostrar novedades de la empresa como ser:
              <ul>
                <li>Facilidades de Pagos</li>
                <li>Nuevas Tasas de Interés</li>
                <li>Nuevos Plazos</li>
                <li>Nuevos tipos de Prestamos</li>

              </ul>
            </article>
          </div>

      </div>
